 *{
      margin: 0;
      padding: 0;
    }
  li{
    list-style: none;
  }
html,body{
    width: 100%;
 

          /*   background: -ms-linear-gradient(top, #fff,  #0000ff);        IE 10
          background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);火狐 
                     background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8)) 谷歌*/
 }
 html{
  font-size: 100px;
 }
 .sh{
position: fixed;
z-index: 9;
 }

 .header{
  width: 100%;
  height:.5rem;
 }
 .hea .img1 img{
  position: absolute;
  display:block;
  margin-top:.13rem;
  width: .36rem;
  height: .3rem;
  margin-left: .16rem;
 }
  .hea p{
  margin-top:.13rem;
  font-size: .22rem;
  float: right;
  margin-right: .16rem;
  color: #ffffff;
 }
 .hea .img2 img{
  display: block;
  float: right;
  width: .71rem;
  height: .3rem;
  margin-top:.13rem;
  padding-right: .45rem;
 }

.biaoti ul{
  width: 100%;
}
 .biaoti ul li{
  width: 20%;
  height: .93rem;
  font-size: .23rem;
  float: left;
  text-align: center;
  line-height: .93rem;
  color: #ffffff;
 }
.search{
  margin-top: 3.2rem;
}
 .search input{
  margin-left: .46rem;
  width: 5.8rem;
  height: .5rem;
  border-radius: 12px;
  float: left;
  opacity: 0.8;
  color: red;
  font-size: .23rem;
 }
 .search .sea img{
  width: .54rem;
  height: .5rem;
  /* background: url(../image/推荐-_11.gif)no-repeat center ; */
  display: block;
 float: left;
 margin-left: .12rem;
 }

.banner img{
  width: 7.2rem;
  height: 4.5rem;
  background: blue;
}
.fenlei ul{
  width: 100%;
  height: .14rem;
}
.fenlei ul li{
  width: 25%;
  height: .14rem;
  float:left;
  text-align: center;
}
.fenlei{
  width: 100%;
  height: 2.11rem;
}
.fenlei ul li img{
  width: .8rem;
  height: .8rem;
}
.fenlei ul li p{
  font-size: .23rem;
 

}

.select li{
  float: left;
  width: 48%;
   color: #ffffff;
   margin-left: .1rem;
   margin-top: .1rem;
} 
.select li img{
  width: 3.45rem;
  height: 2.06rem;
}

.bt p{
  font-size: .24rem;  
  padding-left: .12rem;
    color: #ffffff;
}
.ft span{
  font-size: .19rem;
  display: block;
  padding-left: .12rem;
  margin-top: -.19rem;
}
.ft p{
  font-size: .15rem;
  padding-left: .12rem;
}