 *{
      margin: 0;
      padding: 0;
    }
  li{
    list-style: none;
  }
html,body{
    width: 100%;
    height:100%;
    background:#293124;
  }
 html{
  font-size: 100px;
 }
 .sh{
  width: 100%;
  height: 4.7rem;
  z-index: 999;
  display: block;
 }

 .header{
  width: 100%;
  height:.5rem;
 }
 .hea .img1 img{
  position: absolute;
  display:block;
  margin-top:.13rem;
  width: .36rem;
  height: .3rem;
  margin-left: .16rem;
 }
  .hea p{
  margin-top:.13rem;
  font-size: .22rem;
  float: right;
  margin-right: .16rem;
  color: #ffffff;
 }
 .hea .img2 img{
  display: block;
  float: right;
  width: .71rem;
  height: .3rem;
  margin-top:.13rem;
  padding-right: .3rem;
 }
 .fgx{
 	width: 100%;
 	height:3.93rem;
	background: url(../image/播放_079_02.gif) no-repeat;
	background-size:100%;
 	margin-top: .1rem;
 	border-top: 1px solid #9aa595;
 }
.diplay{
  width: 100%;
  height: .97rem;
  position: absolute;
  top: 3.44rem;
/*   background: blue; */
}
.bofan img{
  width:.7rem;
  height: .7rem;
  font-size: 100%;
  position: absolute;
  padding-top: .12rem;
  padding-left: .4rem;
}
.xian{
  width: 5.42rem;
  height: .05rem;
  background: white;
  position: absolute;
  margin-left: 1.47rem;
  margin-top: .42rem;
}
.yuandian{
  width: .27rem;
  height: .27rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  margin-left: 1.67rem;
  margin-top: .31rem;
}
.jdt .p1{
  font-size: .22rem;
  color: white;
  float: left;
  padding-left: 1.67rem;
  margin-top: .6rem;
}
.jdt .p2{
  font-size: .22rem;
  color: white;
  float: left;
  padding-left: 3.6rem;
  margin-top: .6rem;
}
.jdt img{
  width: .38rem;
  height: .38rem;
  font-size: 100%;
  position: absolute;
   margin-top: .58rem;
   margin-left: .22rem;
}
.jiaj{
  width: 100%;
  height: .81rem;
  border-bottom:  1px solid #9aa595;
}
.jian{
  padding-top: .36rem;
}
.jian h1{
  font-size: .25rem;
  color: white;
  margin-left: .28rem;
  float: left;
}

.jian .p1{
  font-size: .14rem;
  text-align: center;
  line-height:.27rem;
  width: .47rem;
  height: .27rem;
  color:#f6a89b;
  position: absolute;
  margin-top: .05rem;
  left: 5.42rem;
  background:url(../image/播放_3.gif);
  background-size:100%100%; 
}
.jian .p2{
  font-size: .22rem;
  color:#f5c944;
  position: absolute;
  left: 6.05rem;
}
.pf{
  width: 100%;
  height: .7rem;
}
.pf p{
  float: left;
  line-height:.6rem; 
}
.pf .p1{
  font-size: .20rem;
  color: #f7c34d;
  margin-left: .37rem;
}
.pf .p2{
  font-size: .20rem;
  color:white;
}
.fenx{
  width: 100%;
  height: .94rem;
}
.fenx p{
  font-size: .20rem;
  color:white;
  margin-left: .37rem;
  line-height:.94rem;
  float: left;
}
.fenx ul li{
  display: block;
  line-height: .94rem;
  width: .4rem;
  height: .4rem;
  float:right;
  margin-right: .4rem;
  margin-top: -.18rem;
}
.fenx ul li img{
  width: .4rem;
  height: .4rem;
 font-size: 100%;
}
.pianh{
  width: 100%;
  height: .4rem;
  margin-top: .08rem;
  border-bottom:  1px solid #9aa595;
}
.pianh .p1{
  font-size: .24rem;
  color: white;
  float: left;
  margin-left: .28rem;
}
.pianh .p2{
 
  font-size: .24rem;
  float: right;
  color:#656462;
}

.pianh .p2 img{
  width: .3rem;
  height: .3rem;
  font-size: 100%;
  margin-right: .21rem;
}
.huad{
  width:100%;
  height: 2.5rem;
  overflow: hidden;
}
.huad ul{
    width: 13.7rem;
    float: left;
    margin-left: .2rem;
    padding-right: .2rem;
} 
  

.huad ul  li{
    float: left;
    width:1.7rem;
    height:1.65rem;
}
.huad ul img{
 width:1.59rem;
    height:1.65rem;
}
.huad ul  li .p1{
  font-size: .24rem;
  color: white;
  margin-top: -.2rem;
}
.huad ul  li .p2{
  font-size: .18rem;
  color: white;
}
.pl{
  margin-top: .3rem;
  margin-left: .46rem;
}
.pl .p1{
   font-size: .24rem;
   color:#fec132;
}
.pl .p2{
   font-size: .2rem;
   color: #abacaa;
   margin-top: .17rem;
}